@model IEnumerable<FA.JustBlog.Models.Common.Tag>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Style/Style.css" rel="stylesheet" type="text/css" />
@foreach (var item in Model)
{
    <span class="badge badge-info">
        <a href="@Url.Action("Details", "Tag", new { id = item.Id})">
            @item.Name
        </a>
    </span>
}



